@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
  font-family: "Poppins", sans-serif;
}

/* Hero Area Overlay */

.gradiant {
  background: rgb(13, 113, 120);
  background: radial-gradient(
    circle,
    rgba(13, 113, 120, 0.9009978991596639) 0%,
    rgba(11, 181, 110, 0.8785889355742297) 100%
  );
}

/* Background for Work Process Section */
.bg1 {
  background: rgb(13, 113, 120);
  background: linear-gradient(
    90deg,
    rgba(13, 113, 120, 1) 0%,
    rgba(11, 181, 110, 1) 100%
  );
}

.bg2 {
  background: rgb(11, 181, 110);
  background: linear-gradient(
    90deg,
    rgba(11, 181, 110, 1) 0%,
    rgba(13, 113, 120, 1) 100%
  );
}
